@{
    ViewBag.Title = "Property Manager Home Page";
}

<div class="jumbotron">
    <h1>Property Information Portal</h1>
    <h2>The Unique Portal for Owners and Customers</h2>
     
</div>

<div class="row">
        <h2>Please @Html.ActionLink("Login","Login","Account") with your User Role Type.</h2>
        <h2>If you are New User then please @Html.ActionLink("Register", "Register", "Account") and select your user role as Owner and Customer</h2>
</div>